<div class="card">
    <div class="card-body">
      <form>
        <!-- NOMBRE -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-person-circle"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Ingresa tu nombre" [(ngModel)]="empleado.nombre" name="nombre">
        </div>
        <!-- CORREO  -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-envelope"></i>
              </span>
            </div>
            <input type="email" class="form-control" placeholder="Ingresa tu correo"  [(ngModel)]="empleado.correo" name="correo">
        </div>
        <!-- TELEFONO -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-telephone"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="477 *** ** ** " [(ngModel)]="empleado.telefono" name="telefono">
        </div>
        <!-- FECHA NACIMIENTO  -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-calendar-week"></i>
              </span>
            </div>
            <input type="date" class="form-control"  [(ngModel)]="empleado.fecha" name="fecha">
        </div>
        <!-- SEXO  -->
        <div class="input-group mb-3">
            <label class="form-label">Sexo: </label>
            <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="sexoMasculino" value="masculino" [(ngModel)]="empleado.sexo" name="sexo">
                <label class="form-check-label" for="sexoMasculino">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="sexoFemenino" value="femenino" [(ngModel)]="empleado.sexo" name="sexo">
                <label class="form-check-label" for="sexoFemenino">Femenino</label>
            </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <button type="button" class="btn btn-primary" [disabled]="validarCamposFormulario()" (click)="agregarEmpleado()">Agregar Empleado</button>
        </div>
      </form>
    </div>
</div>