.header {
    height: 12vh;
    background: linear-gradient(to right,#ba2b96e3, #b414d0ea);
    margin-bottom: 1%;
    /*clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);*/
 }
  
 .heading-primary {
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
 }
  
 @media only screen and (max-width: 37.5rem) {
    .heading-primary {
        font-weight: 700;
        letter-spacing: 0.2rem;
    }
 }